*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{
        height: 100vh;
        background: linear-gradient(135deg, #0923A4 0%, #408CCB 44%, #9DCDD0 100%);
        
    }
    .container{
        border: 2px solid white;
        width: 40%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        padding: 30px 40px;
    }
    #newtask{
        background-color: white;
        padding: 30px 20px;
        border-radius: 5px;
        box-shadow: 0 15px 30ox rgba(0,0,0,0.3);
    }
    #newtask input{
        width: 70%;
        width: 70%;
        height: 45px;
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        border: 2px solid white;
        padding: 12px;
        position: realtive;

    }
    #newtask input:focus{
        outline: none;
        border-color: #408CCB;

    }
    #newtask button{
        position: relative;
        float: right;
        width: 20%;
        height: 45px;
        border-radius: 5px;
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        font-size: 16px;
        background-color: #00FF00;
        border: none;
        color: white;
        cursor: pointer;

    }
    #tasks{
        background-color: white;
        padding: 30px 20px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.3);
        width: 100%;
        position: relative;
    }
    .tasks{
        background-color: #ffffff;
        height: 50px;
        padding: 5px 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #d1d3d4;
        cursor: pointer;
    }
    .task span{
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
    .task button{
        background-color: #8052ec;
        color: #ffffff;
        height: 100%;
        width: 40px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        outline: none;
    }
    .completed{
        text-decoration: line-through;
    }

